<section id="post-toc" class="widget post-toc">
    <!-- ignore empty links with + -->
    {{ $headers := findRE "<h[1-3].*?>(.|\n])+?</h[1-6]>" .Content }}
    <!-- at least one header to link to -->
    {{ $has_headers := ge (len $headers) 1 }}
    {{ if and $has_headers }}
    <div id="table-of-contents" class="toc bd-callout">
        <!-- TOC header -->
        <h2 class="section-title">TOPICS</h4>
        <div class="widget-topic--list">
            {{ $baseHeading := 3 }}
            {{ range $headers }}
                {{ range findRE "[1-3]" . 1 }}
                    {{ if lt (int .) $baseHeading }}
                        {{ $baseHeading = (int .) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $curHeading := sub $baseHeading 1 }}
            {{ range $headers }}
                {{ $header := . }}
                {{ range first 1 (findRE "<h[1-3]" $header 1) }}
                    {{ range findRE "[1-3]" . 1 }}
                        {{ $nextHeading := (int .) }}
                        <!-- generate li array of the proper depth -->
                        {{ if lt $curHeading $nextHeading }}
                            {{ range seq (add $curHeading 1) $nextHeading }}
                                <ul class="toc-h{{ . }}{{ if eq $nextHeading $baseHeading }}{{ " always-active" }}{{ end }}">
                            {{end}}
                        {{ else if gt $curHeading $nextHeading }}
                            {{ range seq (add $nextHeading 1) $curHeading }}
                                </ul>
                            {{end}}
                        {{ end }}
                        {{ $curHeading = $nextHeading }}
                        {{ $headerTitle := htmlUnescape $header | plainify }}
                        {{ $headerHash := replaceRE "[<|>|&|'|/]" "" $headerTitle | urlize }}
                        {{ $href :=  $headerHash | printf "#%s" }}
                        <a href="{{ $href }}" class="toc-link">
                            <li>{{ $headerTitle }}</li>
                        </a>
                        <!-- close list -->
                    {{end}}
                {{end}}
            {{ end }}
        </div>
    </div>
    {{ end }}
</section>